body{
  background:#E0E0E0;
}
.productImg {
  width :100%;
  max-width: 240px;
  max-height: 280px;
  min-width: 120px;
  min-height: 218px;
 }
.productCard {
  display: flex;
  justify-content: center;
  align-items: center;
}
.details {
    border: 1.5px solid grey;
    color: #212121;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px #212121;
}

.cart {
  background-color: #212121;
  color: white;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 900;
  width: 100%;
  height: auto;
  padding-top: 9px;
  box-shadow: 0px 5px 10px  #212121;
}

.card {
  width:100%;
  height:100%;
}

.card-body {
  width:100%;
  height:100%;
}

.btn {
    border-radius: 0;
}

.img-thumbnail {
    border: none;
}

.card {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding-bottom: 10px;
}

.cardProd{
  margin: 100px;
}
.navbar-vertical.navbar-light .navbar-nav .nav-link {
  padding: 8px 30px;
  border-bottom: 1px solid #EDF1FF;
}
@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 5px 0px;
  }
}

.categories {
  background-color: #66C796;
  width: 100% !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #1C1C1C;
}
h6, .h6 {
  font-size: 1rem;
}

.myClickableThingy {
  cursor: pointer;
	border-radius: 10px;
}

#box{
	/*definimos a largura do box*/
	width:300px;
	/* definimos a altura do box */
	height:100px;
	/* definimos a cor de fundo do box */
	background-color:#666;
	/* definimos o quão arredondado irá ficar nosso box */
	border-radius: 10px;
	}

.btn-categoria {
  background: rgb(248,192,245);
  background: linear-gradient(90deg, rgba(248,192,245,1) 0%, rgba(238,196,243,1) 33%, rgba(130,244,220,1) 81%);
}
