.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(204, 0, 255);
  background-color: transparent;
}

a:active {
  color: rgb(210, 112, 235);
  background-color: transparent;
}

::ng-deep .customize {
  background: #f8c0f5;
}


@media (max-width: 990px) {
  .contentRight {
    display: flex;
    justify-content: flex-start;
  }
}

@media (min-width: 991px) {
  .contentRight {
    display: flex;
    justify-content: flex-end;
  }
}

