<footer class="text-center text-black" style="background-color: #f8c0f5;">
  <div class="container pt-4">
    <section class="mb-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h2 class="text-uppercase">Sobre nós</h2>
          <p>
            Somos uma loja online focada em moda feminina, desde 2022 trazendo tendencias do momento para vestir vocês no melhor estilo.
          </p>
        </div>
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <a mat-fab href="https://www.facebook.com/lopestyle.com.br"
          style="background-color: #3b5998;"class="white-icon">
              <mat-icon class="fab fa-facebook"></mat-icon>
          </a>&nbsp;&nbsp;
          <a mat-fab href="https://www.instagram.com/_lopestyle/"
          style="background-color: #ac2bac;"class="white-icon">
              <mat-icon class="fab fa-instagram"></mat-icon>
          </a>
          <h3>E-mail: <a href="">lopestyle@outlook.com.br</a></h3>
        </div>
      </div>

    </section>
  </div>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset ">Lopestyle</a>
  </div>
</footer>
