
<nav style="background-color: #f8c0f5;" class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container px-4 px-lg-5 ">
      <a class="navbar-brand" href="/">Lopestyle</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 navbar-right">
              <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" aria-current="page" [routerLink]="['']" href="/">Início</a></li>
              <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" href="/products/0" [routerLink]="['products/0']" (click)="navigateToProduct()">Produtos</a></li>

        </ul>
        <div class="col-6 d-flex justify-content text-center">
          <button mat-button mat-icon-button [matMenuTriggerFor]="belowMenu" *ngIf="isLogged">
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #belowMenu="matMenu" yPosition="below">
            <button mat-menu-item (click)="selectButton('profile')">Perfil</button>
            <button mat-menu-item (click)="logout()">Sair</button>
          </mat-menu>
         <div class="col-2" *ngIf="!isLogged">
            <button mat-icon-button (click)="selectButton('login')" >
              <a >Entrar</a>
            </button>
          </div>
          <button class="col-4 btn btn-outline-dark" type="submit">
              <i class="bi-cart-fill me-1"></i>
              Carrinho
              <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
          </button>
        </div>

      </div>
  </div>


</nav>


