<h1 mat-dialog-title>Alterar senha</h1>
<div>
  <br><br>
  <form [formGroup]="form" (ngSubmit)="change()">

    <div class="form-group mb-3">
      <input id="inputPassword" type="password" placeholder="Senha" formControlName="password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-black">
    </div>
    <div class="text-danger" *ngIf="wrongPassword">
      <h4>
        Senha não confere
      </h4>
    </div>
    <div class="form-group mb-3">
      <input id="inputPassword" type="password" placeholder="Nova Senha" formControlName="newPassword" required="" (keyup)="getMessagePassword()" class="form-control rounded-pill border-0 shadow-sm px-4 text-black">
    </div>
    <div class="text-danger" *ngIf="this.form.get('newPassword')?.touched && !this.form.get('newPassword')?.valid">
      <h4 *ngFor="let error of passwordErrors">
        {{error}}
      </h4>
    </div>
    <div class="form-group mb-3">
      <input id="inputPasswordConfirmation" type="password" placeholder="Confirme sua nova senha" formControlName="confirmNewPassword" class="form-control rounded-pill border-0 shadow-sm px-4 text-black">
    </div>
    <p class="text-danger" *ngIf="this.form.get('confirmNewPassword')?.touched && !this.form.get('confirmNewPassword')?.valid">
      Confirmação não confere com a senha.
    </p>
    <br><br>
    <div mat-dialog-actions>
      <button mat-button (click)="close()">Cancelar</button>
      <button mat-button type="submit">Alterar senha</button>
      <div *ngIf="wrongPassword">
        <button mat-button (click)="changePage('forgotPassword')">Esqueci minha senha</button>
      </div>
    </div>
  </form>
</div>

