
.login,
.image {
  min-height: 100vh;
}
.bg-image {
  background-size: cover;
  background-position: center center;
}
.inputPassword{
  color: #f8c0f5;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

}
:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #f8c0f5;
}
